.main_container {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.backgroundImage {
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: var(--object-fit-bg, cover);
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
}

.container {
  background-color: var(--bg-container, var(--bg-primary));
  border-radius: 12px;
  color: var(--text-color);
  margin: 0 auto;
  max-width: 700px;
  padding: 6rem 4rem;
  text-align: left;
  z-index: 1;
}

.title {
  font-size: var(--title-size);
  font-weight: bold;
  margin-bottom: 1rem;
}

.paragraph {
  color: var(--p-color, var(--text-color));
  font-size: var(--p-size, var(--text-size));
  line-height: 1.7;
  white-space: pre-line;
}

.paragraph span:last-of-type {
  font-style: italic;
}

.highlight {
  font-style: oblique;
  color: var(--highlight-color, var(--text-color));
  font-weight: bold;
}

.social {
  color: var(--social-color, var(--text-color));
  font-size: var(--social-size, 1rem);
  margin-top: 2rem;
}

.icons {
  display: flex;
  font-size: 1.4rem;
  gap: 1rem;
  margin-top: 0.5rem;
}

.icons a {
  color: var(--icon-color);
  transition: color 0.3s;
}

.icons a:hover {
  color: var(--icon-color-hover);
}
