.hero {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 100%;
  position: relative;
  width: 100%;
}

.left {
  background-color: var(--bg-left, var(--bg-primary));
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  min-width: 0;
  padding: 0 15rem;
  position: relative;
}

.overlay {
  background-position: center;
  background-size: contain;
  display: flex;
  height: auto;
  position: absolute;
  width: 10rem;
  z-index: 0;
}

.title {
  color: var(--title-color);
  display: flex;
  font-size: var(--title-size);
  font-weight: bold;
  gap: 1rem;
  line-height: 1.2;
  position: relative;
  z-index: 1;
}

.word_1 {
  color: var(--word-1-color, var(--text-color));
  display: flex;
}

.word_2 {
  color: var(--word-2-color, var(--text-color));
}

.subtitle {
  color: var(--subtitle-color);
  font-size: var(--subtitle-size);
  margin-top: 2rem;
  position: relative;
  z-index: 1;
}

.highlights {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-top: 2rem;
  position: relative;
  z-index: 1;
}

.highlights p {
  background-color: var(--highlight-bg-color, transparent);
  border-radius: 0.5rem;
  color: var(--highlight-color, var(--text-color));
  font-size: var(--highlight-size, var(--text-size));
}

.right {
  align-items: center;
  background-color: var(--bg-right, var(--bg-secondary));
  display: flex;
  height: 100%;
  justify-content: center;
  padding: 0 4rem;
  width: 30rem;
}

.image {
  filter: drop-shadow(0 0 5px var(--shadow-color, rgb(0 0 0 / 50%)));
  height: auto;
  object-fit: cover;
  position: relative;
  right: 7.5rem;
  width: 250px;
}
