.wrapper {
  position: relative;
}

.container {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

.section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
}

.dots {
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  z-index: 10;
  align-items: flex-end;
}

.dot {
  display: flex;
  cursor: pointer;
  position: relative;
  color: var(--dot-base-color);
  align-items: center;
}

.dotActive {
  color: var(--dot-base-active-color);
  text-decoration: underline;
}

.dot::after {
  margin-top: 0.1rem;
  content: '';
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-left: 0.5rem;
  background-color: var(--dot-base-color);
  cursor: pointer;
  transition:
    background 0.3s,
    transform 0.3s,
    border 0.3s;
  vertical-align: middle;
  transform: rotate(45deg);
}

.dotActive::after {
  background-color: transparent;
  border: 2px solid var(--dot-base-active-color);
  transform: rotate(0deg);
}
