.wrapper {
  position: relative;
  height: 100dvh;
}

.container {
  height: 100%;
  overflow-y: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

.section {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  scroll-snap-align: start;
  position: relative;
}

.section * {
  box-sizing: border-box;
}

.dots {
  align-items: flex-end;
  bottom: 6rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  position: fixed;
  right: 6rem;
  z-index: 10;
}

.dot {
  align-items: center;
  color: var(--dot-color);
  gap: 0.6rem;
  font-size: var(--link-size);
  cursor: pointer;
  display: flex;
  position: relative;
}

.dotLabel {
  white-space: nowrap;
  pointer-events: none;

  opacity: 0;
  transform: translateX(2rem);
  transition:
    opacity 0.9s ease,
    transform 1s ease;
}

.dotActive {
  color: var(--dot-color-active);
  text-decoration: underline;
}

.dotActive .dotLabel {
  opacity: 1;
  transform: translateX(0);
}

.dot::after {
  background-color: var(--dot-color);
  content: '';
  cursor: pointer;
  display: inline-block;
  height: 12px;
  margin-left: 0.5rem;
  margin-top: 0.1rem;
  transform: rotate(45deg);
  transition:
    background 0.3s,
    transform 0.3s,
    border 0.3s;
  vertical-align: middle;
  width: 12px;
}

.dotActive::after {
  background-color: transparent;
  border: 2px solid var(--dot-color-active);
  transform: rotate(0deg);
}

@media (max-width: 1024px) {
  .container {
    scroll-snap-type: none;
  }

  .section {
    scroll-snap-align: none;
  }

  .wrapper,
  .section,
  .container {
    height: auto;
  }

  .dots {
    right: 1rem;
  }
}
