.wrapper {
  position: relative;
}

.container {
  height: 100vh;
  overflow-y: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

.section {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  scroll-snap-align: start;
}

.dots {
  align-items: flex-end;
  bottom: 6rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  position: fixed;
  right: 6rem;
  z-index: 10;
}

.dot {
  align-items: center;
  color: var(--dot-color);
  font-size: var(--link-size);
  cursor: pointer;
  display: flex;
  position: relative;
}

.dotActive {
  color: var(--dot-active-color);
  text-decoration: underline;
}

.dot::after {
  background-color: var(--dot-color);
  content: '';
  cursor: pointer;
  display: inline-block;
  height: 12px;
  margin-left: 0.5rem;
  margin-top: 0.1rem;
  transform: rotate(45deg);
  transition:
    background 0.3s,
    transform 0.3s,
    border 0.3s;
  vertical-align: middle;
  width: 12px;
}

.dotActive::after {
  background-color: transparent;
  border: 2px solid var(--dot-active-color);
  transform: rotate(0deg);
}
