.main_container {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: var(--bg-image, var(--bg-colored-shapes));
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.container {
  background-color: var(--bg-container, var(--bg-primary));
  border-radius: 12px;
  color: var(--text-color);
  margin: 0 auto;
  max-width: 700px;
  padding: 6rem 4rem;
  text-align: left;
}

.title {
  font-size: var(--title-size);
  font-weight: bold;
  margin-bottom: 1rem;
}

.paragraph {
  color: var(--p-color, var(--text-color));
  font-size: var(--p-size, var(--text-size));
  line-height: 1.7;
}

.highlight {
  color: var(--highlight-color, var(--text-color));
  font-weight: bold;
}

.social {
  color: var(--social-color, var(--text-color));
  font-size: var(--social-size, 1rem);
  margin-top: 2rem;
}

.icons {
  display: flex;
  font-size: 1.4rem;
  gap: 1rem;
  margin-top: 0.5rem;
}

.icons a {
  color: var(--icon-color);
  transition: color 0.3s;
}

.icons a:hover {
  color: var(--icon-hover-color);
}
