:root {
  --anchor-color: var(--base-color-6);
  --link-size: 1.4rem;
  --bg-alter: var(--base-color-10);
  --bg-primary: var(--base-color-11);
  --bg-secondary: var(--base-color-10);
  --dot-active-color: var(--base-color-7);
  --dot-color: var(--base-color-1);
  --input-placeholder-color: var(--dark-30);
  --input-text-color: var(--base-color-1);
  --input-focus-color: var(--base-color-6);
  --item-bg: var(--base-color-10);
  --label-color: var(--base-color-1);
  --label-size: 1.4rem;
  --subtitle-color: var(--base-color-3);
  --subtitle-size: 2.4rem;
  --text-size: 1.6rem;
  --text-color: var(--base-color-1);
  --title-color: var(--base-color-2);
  --title-size: 4rem;
  --btn-color: var(--base-color-6);
  --btn-hover-color: var(--base-color-7);
  --btn-size: 1.4rem;
}
