:root {
  --label-color: var(--base-color-10);
  --label-size: 1.4rem;

  --arrow-bg: var(--bg-transparent-30);
  --arrow-color: var(--bg-transparent-90);
  --arrow-bg-hover: var(--bg-transparent-40);
  --arrow-color-hover: var(--bg-transparent-0);

  --value-color: var(--base-color-5);

  --gradient-start: var(--base-color-5);
  --gradient-end: var(--base-color-9);

  --submit-color: var(--base-color-5);

  --focus-color: var(--base-color-3);

  --link-color: var(--base-color-6);
  --link-color-hover: var(--base-color-7);
  --link-size: 1.4rem;

  --bar-bg: var(--base-color-11);

  --bg-description: var(--base-color-9);
  --bg-alter: var(--base-color-10);
  --bg-primary: var(--base-color-11);
  --bg-secondary: var(--base-color-10);
  --bg-item: var(--base-color-10);
  --bg-section: var(--base-color-11);

  --dot-color-active: var(--base-color-7);
  --dot-color: var(--base-color-1);

  --form-title-color: var(--base-color-1);
  --form-title-size: 4rem;

  --input-color-placeholder: var(--dark-30);
  --input-color-text: var(--base-color-1);
  --input-color-focus: var(--base-color-6);
  --input-text-size: 1.6rem;

  --item-title-size: 1.8rem;
  --item-title-color: var(--base-color-1);

  --subitem-bg: var(--dark-90);
  --subitem-color: var(--dark-10);

  --text-size: 1.6rem;
  --text-color: var(--base-color-1);

  --title-color: var(--base-color-2);
  --title-size: 4rem;

  --subtitle-color: var(--base-color-3);
  --subtitle-size: 2.4rem;

  --btn-color: var(--base-color-6);
  --btn-hover-color: var(--base-color-7);
  --btn-size: 1.4rem;

  --icon-content-size: 5rem;
  --icon-size: 3rem;
  --icon-color: var(--base-color-1);
  --icon-hover-color: var(--base-color-7);
  --icon-bg: var(--base-color-2);
  --icon-bg-hocer: var(--base-color-6);
}
