.section {
  background-color: var(--bg-section);
  padding: 6rem 2rem;
  width: 80%;
}

/* title */
.title {
  color: var(--title-color);
  font-size: var(--title-size);
  font-weight: 700;
  text-align: center;
  margin-bottom: 3rem;
}

/* subtitle */
.subtitle {
  color: var(--subtitle-color);
  font-size: var(--subtitle-size);
  margin-bottom: 5rem;
  text-align: center;
}

/* grid */
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem;
  max-width: 120rem;
  margin: 0 auto;
}

@media (max-width: 900px) {
  .grid {
    grid-template-columns: 1fr;
  }
}

/* card */
.card {
  background-color: var(--bg-item);
  border-radius: 0.8rem;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  transition: transform 0.25s ease;
  position: relative;
  overflow: visible;
}

/* image */
.imageWrapper {
  overflow: hidden;
  height: 22rem;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.4s ease;
}

.card:hover .image {
  transform: scale(1.08);
}

/* info */
.info {
  padding: 1.4rem 1.6rem;
  background-color: var(--bg-description);
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}


.name {
  font-size: var(--text-size);
  font-weight: 600;
  color: var(--text-color);
}

/* type / hover swap */
.type {
  font-size: var(--link-size);
  color: var(--link-color);
  position: relative;
  height: 1.2rem;
}

.typeDefault,
.typeHover {
  position: absolute;
  left: 0;
  top: 0;
  transition:
    opacity 0.25s ease,
    transform 0.25s ease;
  color:var(--link-color);
}

.typeHover {
  opacity: 0;
  transform: translateY(4px);
  color: var(--link-color-hover);
}

.card:hover .typeDefault {
  opacity: 0;
  transform: translateY(-4px);
}

.card:hover .typeHover {
  opacity: 1;
  transform: translateY(0);
  color: var(--link-color-hover);
}

.arrow {
  margin-left: 0.3rem;
}

/* Description tooltip */
.description {
  position: absolute;
  bottom: 105%;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--bg-description);
  color: var(--text-color);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  font-size: var(--text-size);
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.7s, transform 0.7s;
  z-index: 10;
  white-space: normal;
  word-wrap: break-word;
  max-width: 100%;
}

.card:hover .description {
  opacity: 1;
  transform: translateX(-50%) translateY(-0.5rem);
}
