.container {
  text-align: center;
  background-color: var(--bg-primary);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
}

.backgroundImage {
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: var(--object-fit-bg, cover);
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
  opacity: var(--opacity-bg, 0.1);
}

.workSection {
  max-width: 90rem;
  z-index: 1;
}

.title {
  color: var(--title-color);
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.subtitle {
  color: var(--subtitle-color);
  font-size: 1rem;
  margin-bottom: 3rem;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}

.card {
  background-color: var(--item-bg);
  border-radius: 0.75rem;
  box-shadow: 0 4px 12px rgb(0 0 0 / 5%);
  padding: 2rem;
  text-align: center;
  transition: transform 0.2s;
  width: 10rem;
}

.card:hover {
  transform: translateY(-4px);
}

.logo {
  height: 50px;
  margin-bottom: 1rem;
  object-fit: contain;
  width: 90%;
}

.info {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.info a {
  color: var(--link-color, var(--anchor-color));
  font-size: 0.9rem;
  margin-top: 1rem;
}

.info a:hover {
  transition: color .2s;
  text-decoration: underline;
  color: var(--link-color-hover ,var(--anchor-color-hover));
}
