.wrapper {
  position: fixed;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: .5rem;
  z-index: 1000;
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--icon-content-size);
  height: var(--icon-content-size);
  border-radius: var(--border-radius, 1rem);
  background-color: var(--icon-bg);
  color: var(--icon-color);
  font-size: var(--icon-size);
  transition: all 0.3s ease;
}

.link:hover {
  background-color: var(--icon-bg-hover);
  color: var(--icon-color-hover);
}

@media (max-width: 680px) {
  .wrapper {
    top: 1rem;
    left: auto;
    right: 0;
    transform: translateY(0);
  }

  .link {
    width: 4rem;
    height: 4rem;
    font-size: 2.5rem;
  }
}
