.wrapper {
  width: 100%;
  padding: 2rem 0;
  box-sizing: border-box;
}

.title {
  color: var(--title-color);
  font-size: var(--title-size);
  font-weight: 700;
  text-align: center;
  margin-bottom: 2rem;
}

.subtitle {
  color: var(--subtitle-color);
  font-size: var(--subtitle-size);
  margin-bottom: 5rem;
  text-align: center;
}

.container {
  margin: 0 auto;
  width: 70%;
  column-width: 250px;
  column-gap: 1.5rem;
}

.section {
  break-inside: avoid;
  background: var(--bg-item);
  border-radius: 16px;
  padding: 1.5rem;
  box-sizing: border-box;
  margin-bottom: 1.5rem;
  width: 100%;
}

.header {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  margin-bottom: 1.2rem;
}

.icon {
  color: var(--icon-color);
  font-size: var(--icon-size);
}

.itemTitle {
  font-size: var(--item-title-size);
  color: var(--item-title-color);
  font-weight: 600;
}


.list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.item {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.labelRow {
  display: flex;
  justify-content: space-between;
  font-size: var(--label-size);
  color: var(--label-color);
}

.value {
  color: var(--value-color);
}

.bar {
  height: var(--bar-height, .8rem);
  background: var(--bar-bg);
  border-radius: 6px;
  overflow: hidden;
}

.fill {
  display: block;
  height: 100%;
  background: linear-gradient(
    90deg,
    var(--gradient-start),
    var(--gradient-end)
  );
  border-radius: 6px;
}

@media (max-width: 768px) {
  .section {
    padding: 1.2rem;
  }
}
